.logo:hover {
    width: 40%;
}

section {
    text-align: center;
    vertical-align: middle;
}

.card .image {
    object-fit: cover;
}

.hide-on-hover:hover {
    object-fit: cover;
    opacity: 0;

}
.card .row {
    margin-top: auto;
}

.carousel-inner {
    margin: auto;
}
.avatar {
    vertical-align: middle;
    width: 15%;
    border: 0.5rem solid black;
    border-radius: 50%;
}