.card {
    text-decoration: none; 
}

.card .row {
    margin-top: auto;
}

.card img {
    object-fit: inherit;
}

.card video {
    object-fit: inherit;
}

.carousel-control-next, .carousel-control-prev{
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

#highlights .card {
    width: 25rem; 
    height: 100%;
}

#highlights .carousel {
    width: 100%;
    height: 15rem;
}

#highlights .carousel-item {
    height: 15rem;
    object-fit: cover;
    background-color: black;
}

.logo:hover {
    width: 40%;
}

section {
    text-align: center;
    vertical-align: middle;
}

.hide-on-hover:hover {
    object-fit: cover;
    opacity: 0;

}


.avatar {
    vertical-align: middle;
    width: 15%;
    border: 0.5rem solid black;
    border-radius: 50%;
}
